* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

h1{
    color: rgb(56, 52, 47);
    font-size: 8rem;
    opacity: 0;
    letter-spacing: 2px;
}
