@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle at top,
    #141426 0%,
    #0a0a11 45%,
    #040407 100%
  );

  overflow: hidden;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Anton", sans-serif;
  position: fixed;
  top: 0;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.menu a {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #dcdcdc;
  font-weight: 400;
}

.btn {
  background: radial-gradient(
    circle at top,
    #5a5a5a 0%,
    #3f3f3f 45%,
    #1f1f1f 100%
  );
  color: #fff;
  border: 1px solid #6a6a6a;
  padding: 7px 12px;
  border-radius: 12px;
}

#page {
  width: 100%;
  max-width: 55%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  gap: 15px;
}

#page h1 {
  font-size: 180px;
  color: rgb(193, 218, 240);
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  line-height: 180px;
  padding-top: 90px;
  text-align: center;
}

#page p {
  font-size: 180px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  line-height: 180px;
  padding-top: 90px;
}

.era {
  color: rgb(35, 78, 158);
}
.gaming {
  color: darkgrey;
}
