* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 1;
}

header .logo{
  width: 150px;
}


header .menu{
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu .menu-link{
  font-size: 20px;
  text-decoration: none;
  color: rgb(17, 69, 71);
  transition: all 0.3 linear;
}

.menu .menu-link:hover{
  scale: 0.9;
  text-decoration: underline;
}

header .btn{
  padding: 12px 14px;
  background-color: #5840ba;
  transition: all 0.3 linear;
  color: whitesmoke;
  border-radius: 50px;
}

header .btn:hover{
  scale: 0.9;
  border: none;
}


#page{
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 120px;
}

.hero-heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-heading h5{
font-size: 20px;
}

.hero-heading h1{
  font-size: 120px;
  width: 1140px;
}

.hero-heading h1 span{
  color: #5840ba;
  text-decoration: underline;
}

.image{
  width: 700px;
  position: relative;
  margin-inline: auto;
}

.image img{
  width: 100%;
  position: absolute;
  top: -150px;
}

.image .btn-group{
  position: absolute;
  top: 345px;
  left: 130px;
}

.image .btn-group .port{
  padding: 15px 65px;
  background-color: #5840ba;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
}

.image .btn-group .hire{
  padding: 15px 65px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
}


.left-side{
  position: absolute;
  bottom: 30px;
  left: 40px;
}


.left-side h4{
  font-size: 24px;
  font-weight: 700;
}

.left-side p{
  font-family: 18px;
  margin-top: 5px;
}

.left-side img{
  width: 150px;
}