@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}
#main{
    width:100% ;
    height: 100%;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1;   
}
header .logo{
    width: 150px;
}

header .menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .menu a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
    transition:  all 0.3 linear;
}

header .menu a:hover{
    text-decoration: underline;
}

.btn{
    padding: 12px 14px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.btn:hover{
    background-color: #444;
}
